.forecast.row
{
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
body > .row
{
    margin-top: 20px;
}
#detailsColumn > div
{
    padding-left: 10px;
}
.forecastColumn > div.forecast.even
{
    background-color:#EFEFEF;
}
.forecastColumn > div
{
    cursor: pointer;
}
.forecastColumn > div:hover
{
    background-color:#E0E0E0 !important; /* weee! */
}
#detailsColumn
{
    padding-top: 100px;
}
h2
{
    margin-left: 15px;
}
.today
{
    padding-left: 5px;
}
.forecastColumn .row .row
{
    margin: 0 0;
}
.description
{
    text-align: center;
}