<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="stylesheet" href="/css/foundation.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;libraries=places&amp;key=AIzaSyCfFaMRhAIZrykMAZ-xpX2arc6QltCc4TE"></script>
        <script type="text/javascript" src="/js/angular.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="control">
        <div class="row">
            <div class="large-5 columns forecastColumn">
                <div class="row forecast" ng-repeat="day in forecastData" ng-click="showDetails(day)" ng-class-odd="'odd'" ng-class-even="'even'">
                    <div class="row today" ng-click="showDetails(day)" ng-if="$index == 0">
                        <div class="row">
                            <h2>{{fetchedLocation}}</h2>
                        </div>
                        <div class="row">
                            <div class="large-6 columns">
                                <div>{{getDayName(day)}}, {{getFormattedDate(day)}}</div>
                                <div ng-bind-html="getTemp(day,true)"></div>
                                <div ng-bind-html="getTemp(day,false)"></div>
                            </div>
                            <div class="large-6 columns">
                                <img ng-src="{{getArthPath(day)}}">
                                <div class="description">{{day.weather[0].description|Captialize}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="large-2 columns" ng-if="$index > 0">
                        <img ng-src="{{getIconPath(day)}}">
                    </div>
                    <div class="large-6 columns" ng-if="$index > 0">
                        <div>{{getDayName(day)}}</div>
                        <div>{{day.weather[0].description|Captialize}}</div>
                    </div>
                    <div class="large-4 columns" ng-if="$index > 0">
                        <div ng-bind-html="getTemp(day,true)"></div>
                        <div ng-bind-html="getTemp(day,false)"></div>
                    </div>
                </div>
            </div>
            <div class="large-4 columns" id="detailsColumn" ng-if="detailsDay != null">
                <div class="row">
                    <div class="large-6 columns">
                        <div class="row">{{getDayName(detailsDay)}}</div>
                        <div class="row">{{getFormattedDate(detailsDay)}}</div>
                        <div class="row" ng-bind-html="getTemp(detailsDay,true)"></div>
                        <div class="row" ng-bind-html="getTemp(detailsDay,false)"></div>
                    </div>
                    <div class="large-6 columns">
                        <img ng-src="{{getArthPath(detailsDay)}}">
                        <div class="description">{{detailsDay.weather[0].description|Captialize}}</div>
                    </div>
                </div>
                <div class="row">Humidity: {{detailsDay.humidity}}%</div>
                <div class="row">Wind: {{getWind(detailsDay)}}</div>
                <div class="row">Pressure: {{detailsDay.pressure}} hPa</div>
            </div>
            <div class="large-3 columns panel">
                <label for="locationText">Location:</label>
                <input id="locationText" type="text" ng-disabled="fetchInProgress" ng-init="attachSearch()" ng-model="selectedLocation">
                <label for="unitsSelect">Units:</label>
                <select id="unitsSelect" ng-model="selectedUnitType" ng-options="unit for unit in unitTypes"></select>
            </div>
        </div>
    </body>
</html>